.structure {
    background-color: rgb(203, 203, 209);
    height: 1000px;
    float: left;
}
.structureg{
    background-color: rgb(203, 203, 209);
    height: 1000px;
    width: 250px;
    float: left;

}
img{ 
   width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.etude{
    text-align: center;
    height: 20px;
}
.infop{
    margin-left: 19px;
    height: 60px;
}
.img2{
    margin-left: 15px;
    width: 19px;
    height: 19px;
    float: left;

}
.img3{
    margin-left: 15px;
    width: 19px;
    height: 19px;
    float: left;
    
}
.img4{
    margin-left: 15px;
    width: 19px;
    height: 19px;
    float: left;
    
}
.compet{
    margin-left: 19px;
    height: 60px;
}
#lang{
    margin-left: 19px;
    float: left;
}
.img5{
    height: 15px;
    width: 15px;
    margin-right: 25px;
    float:right
}
.img6{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    float:right
}
.img7{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    float:right
}
.img8{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    float:right
}
.img9{
    height: 15px;
    width: 15px;
    margin-left: 17px;
    float:left
}
.struct2{
    background-color:rgb(203, 203, 209);
    height: 50px;
}
.compet2{
 text-align: center;
 margin-left: -107px;
 margin-top: 10px;
 float: left;
}
.img10{
    height: 15px;
    width: 15px;
    margin-right: 25px;
    margin-top: 10px;
    float: right;
}
.img11{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    margin-top: 10px;
    float: right;

}
.img12{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    margin-top: 10px;
    float: right;
}
.img13{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    margin-top: 10px;
    float: right;
}
.img14{
    height: 15px;
    width: 15px;
    margin-right: 2px;
    margin-top: 10px;
    float: right;
}
.compet3{
    text-align: center;
    margin-top: 1px;
    margin-right:164px;
    float:right
    
}
.struct3{

    background-color:rgb(203, 203, 209);
    height: 50px;
    float: unset;
    margin-top: -32px;
    

    
}

.rond{
    font-size: 12px;
    margin-left: 140px;
    margin: 0px 140px;

}
.struct4{
    margin-top: -20px;
    float: left;
}

.compet4{
    margin-top: 40px;
    margin-left: 0px;
    float: left;
}
.rondd{
    font-size: 12px;
    margin-top: 40px;
    margin-left: 120px;
    margin: 0px 140p;
}

.imgg{
    background-color: aquamarine;
}
.deb{
    margin-left: 10px;
}
.deb {
    float:right;
    width:450px;
    height:995px;
    background-color:#ffffff;}

h1{
    text-align:left;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 30px 50px 26px;
    color: black;
    
    }

h2{
    text-align:left;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 20px 50px 0px;
    color: black;
    }



.lignehorizontal { 
     content: ""; 
     flex: 1 1; 
     border-bottom: 2px solid rgb(0, 0, 0); 
     margin: 0px 50px 0px;
     }

.p1 {
    text-align:left;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 20px 50px 10px;
    color: rgb(0, 0, 0);
    }

.p2 {
    text-align:left;
    font-family: sans-serif;
    margin: 20px 50px 10px;
    }

.p3 {
    text-align:left;
    font-family: sans-serif;
    margin: 10px 50px 10px;
    }


.lignehorizontal3 { 
content: ""; 
flex: 1 1; 
border-bottom: 2px solid rgb(0, 0, 0); 
margin: 120px 50px 0px;
}
.retour{
    margin-top: 150px;
}
